<!-- Header -->
<header>
    <div class="container">
        <nav class="nav">
            <div class="menu-toggle">
                <i class="fas fa-bars"></i>
                <i class="fas fa-times"></i>
            </div>
            <p class="logo">LOCKHART <span><i class="fas fa-seedling"></i></span> LOUNGE</p>
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="index.html" class="nav-link active">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#discover" class="nav-link">Our Story</a>
                </li>
                <li class="nav-item">
                    <a href="#menu" class="nav-link">Menu</a>
                </li>
                <li class="nav-item">
                    <a href="#reservations" class="nav-link">Reservations</a>
                </li>
                <li class="nav-item">
                    <a href="#contact" class="nav-link">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- Header ends -->

<!-- Hero Section -->
<section id="hero" class="hero">
    <div class="container">
        <h2 class="sub-headline">Welcome</h2>
        <h1 class="headline">Lockhart Lounge</h1>
        <div class="headline-description">
            <div class="separator">
                <div class="line line-left"></div>
                <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                <div class="line line-right"></div>
            </div>
            <div class="single-animation">
                <a href="#menu" class="btn cta-btn">Browse Menu</a>
                <span><a href="#reservations" class="btn cta-btn">Reserve Table</a></span>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section Ends -->

<!-- Discover Section -->
<section id="discover" class="discover">
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <h2 class="body-sub-headline">Discover <span class="line">--------</span></h2>
                <h1 class="body-headline">Our Story</h1>
                <br>
                <p class="lead">We serve simple food, really well. Lockhart Lounge blends unforgettable recipes
                    with
                    an inviting atmosphere to create a rich experience for our patrons each and every time. We
                    are a
                    group of people who are passionate about creating good food and good vibes. Come relish in
                    the
                    fun with us.</p>
                <br>
                <p class="lead icon-text"><i class="fab fa-pagelines icon-list"></i><span> Sustainably-sourced
                        ingredients straight from local farms</span></p>
                <p class="lead icon-text"><i class="fas fa-cocktail icon-list"></i><span> Signature drinks that
                        are
                        sure to
                        impress</span></p>
                <p class="lead icon-text"><i class="fas fa-utensils icon-list"></i><span> Hand crafted recipes
                        made
                        with you
                        in
                        mind</span></p>
                <p class="lead icon-text"><i class="fas fa-couch icon-list"></i><span> Kick back and relax kind
                        of
                        environment</span></p>

            </div>
            <div class="col-md-6 about-img">
                <img id="aboutImg"
                    src="https://images.squarespace-cdn.com/content/v1/53a05cdee4b0c1bc44841a7b/1542171727651-BVFKHUH2MO5HMVF2HJRZ/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iyqMbMesKd95J-X4EagrgU9L3Sa3U8cogeb0tjXbfawd0urKshkc5MgdBeJmALQKw/101+Food+Photography+Tips"
                    alt="">
            </div>
        </div>
    </div>
</section>
<!-- Discover Section Ends -->

<!-- Menu Section -->
<section id="menu" class="menu">
    <div class="container">
        <div>
            <h2 class="menu-sub-headline">Menu <span class="line">--------</span></h2>
            <h1 class="menu-headline">Our Tasty Menu</h1>
            <br>
        </div>
        <div id="menu-outer">
            <div class="table text-center">
                <ul id="horizontal-list">
                    <li><a class="menu-link" href="#">All</a></li>
                    <li><a href="#">Appetizers</a></li>
                    <li><a href="#">Entrees</a></li>
                    <li><a href="#">Drinks</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card text-center" style="width: 25rem;">
                    <img src="assets/images/menu1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Stuffed Mushrooms</h4>
                        <hr>
                        <p class="card-text">Hand-stuffed with garlic herb cheese, topped with Parmesan crust and
                            served over a creamy
                            blend of four melted cheeses.</p>
                        <p class="card-text">$8.99 <span><i class="fas fa-seedling"></i></span> 730 cal</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center" style="width: 25rem;">
                    <img src="assets/images/menu2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Spicy Chicken Bites</h4>
                        <hr>
                        <p class="card-text">Fresh and tender hand-cut chicken tossed in a sweet and spicy
                            chili-ginger sauce. Garnished with peppers and spices for an added kick.</p>
                        <p class="card-text">$10.99 <span><i class="fas fa-seedling"></i></span> 920 cal</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center" style="width: 25rem;">
                    <img src="assets/images/menu3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Grilled Chicken Salad</h4>
                        <hr>
                        <p class="card-text">Fresh, crisp field greens with grapes, strawberries, mandarin oranges,
                            candied pecans and feta cheese. All tossed up in a sweet raspberry vinaigrette.</p>
                        <p class="card-text">$11.99 <span><i class="fas fa-seedling"></i></span> 540 cal</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center" style="width: 25rem;">
                    <img src="assets/images/menu4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Firecracker Wraps</h4>
                        <hr>
                        <p class="card-text">Spicy
                            grilled chicken and cheese wrapped in a crispy flour tortilla, and served with a cool
                            avocado-lime dipping sauce.</p>
                        <p class="card-text">$9.99 <span><i class="fas fa-seedling"></i></span> 810 cal</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card text-center" style="width: 25rem;">
                    <img src="assets/images/menu5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">The Lockhart Burger</h4>
                        <hr>
                        <p class="card-text">Our thick, juicy half-pound burger grilled to order with lettuce,
                            onion, tomato, bacon and housemade
                            burger sauce on a toasted potato bun.</p>
                        <p class="card-text">$15.99 <span><i class="fas fa-seedling"></i></span> 1020 cal</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center" style="width: 25rem;">
                    <img src="assets/images/menu6.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Redrock Shrimp</h4>
                        <hr>
                        <p class="card-text">Grilled jumbo shrimp glazed with smoky tomato butter, served over rice
                            with garlic butter. Served with brocolli and your choice of soup or salad.</p>
                        <p class="card-text">$13.99 <span><i class="fas fa-seedling"></i></span> 940 cal</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center" style="width: 25rem;">
                    <img src="assets/images/menu7.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Parmesan Chicken</h4>
                        <hr>
                        <p class="card-text">Our fresh, juicy, grilled chicken becomes irresistible when we top it
                            with our creamy, crunchy Parmesan and garlic cheese crust.</p>
                        <p class="card-text">$12.99 <span><i class="fas fa-seedling"></i></span> 860 cal</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center" style="width: 25rem;">
                    <img src="assets/images/menu8.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Porterhouse Steak</h4>
                        <hr>
                        <p class="card-text">Got the biggest steak in the game wearing our name! Our 22 oz
                            porterhouse combines a bone-in strip and a tender filet into one thick cut.</p>
                        <p class="card-text">$17.99 <span><i class="fas fa-seedling"></i></span> 1250 cal</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card text-center" style="width: 25rem;">
                    <img src="assets/images/menu9.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Three Dons</h4>
                        <hr>
                        <p class="card-text">Don Julio Blanco, Reposado and Añejo with triple sec and all-natural
                            sweet and sour.</p>
                        <p class="card-text">$12.99 <span><i class="fas fa-seedling"></i></span> 450 cal</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center" style="width: 25rem;">
                    <img src="assets/images/menu10.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Old Fashioned</h4>
                        <hr>
                        <p class="card-text">Single Barrel Bourbon, Italian Amarena cherry, orange
                            wedge and Angostura bitters.</p>
                        <p class="card-text">$10.99 <span><i class="fas fa-seedling"></i></span> 160 cal</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center" style="width: 25rem;">
                    <img src="assets/images/menu11.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Golden Ale</h4>
                        <hr>
                        <p class="card-text">A clean and crisp golden ale that pairs perfectly with our menu.</p>
                        <p class="card-text">$6.99 <span><i class="fas fa-seedling"></i></span> 230 cal</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center" style="width: 25rem;">
                    <img src="assets/images/menu12.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Signature Sangria</h4>
                        <hr>
                        <p class="card-text">A blend of chilled wine, fresh fruit and fruit juices. The ultimate
                            refresher.</p>
                        <p class="card-text">$12.99 <span><i class="fas fa-seedling"></i></span> 420 cal</p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
<!-- Menu Section Ends -->

<!-- Reservations Section -->
<section id="reservations" class="reservations">
    <div class="container">
        <div>
            <h2 class="reservations-sub-headline">Reservations <span class="line">--------</span></h2>
            <h1 class="reservations-headline">Book A Table</h1>
            <br>
        </div>
        <form action="forms/book-a-table.php" method="POST" role="form" class="php-email-form">
            <div class="form-row">
                <div class="col-lg-4 .col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                        data-rule="minlen:4" data-msg="Please enter at least 4 characters">
                    <div class="validate"></div>
                </div>
                <div class="col-lg-4 .col-md-6 form-group">
                    <input type="email" name="email" class="form-control" id="email" placeholder="Your Email"
                        data-rule="email" data-msg="Please enter a valid email">
                    <div class="validate"></div>
                </div>
                <div class="col-lg-4 .col-md-6 form-group">
                    <input type="text" name="phone" class="form-control" id="phone" placeholder="Your Phone"
                        data-rule="minlen:10" data-msg="Please enter at least 10 characters">
                    <div class="validate"></div>
                </div>
                <div class="col-lg-4 .col-md-6 form-group">
                    <input type="text" name="date" class="form-control" id="date" placeholder="Date"
                        data-rule="minlen:4" data-msg="Please enter at least 4 characters">
                    <div class="validate"></div>
                </div>
                <div class="col-lg-4 .col-md-6 form-group">
                    <input type="text" name="time" class="form-control" id="time" placeholder="Time"
                        data-rule="minlen:4" data-msg="Please enter at least 4 characters">
                    <div class="validate"></div>
                </div>
                <div class="col-lg-4 .col-md-6 form-group">
                    <input type="number" name="people" class="form-control" id="people" placeholder="# of People"
                        data-rule="minlen:1" data-msg="Please enter at least 1 character">
                    <div class="validate"></div>
                </div>
            </div>
            <div class="form-group">
                <textarea name="message" rows="5" class="form-control" placeholder="Message"></textarea>
            </div>
            <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your booking request was sent. We'll be in touch shortly to confirm your
                    reservation. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Book a Table</button></div>
    </div>
    </form>
    </div>
</section>
<!-- Reservation Section Ends -->

<!-- Gallery Section -->
<section class="gallery" id="gallery">
    <div class="container">
        <div>
            <h2 class="gallery-sub-headline">Gallery <span class="line">--------</span></h2>
            <h1 class="gallery-headline">Check us out</h1>
            <br>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="https://images.pexels.com/photos/1267696/pexels-photo-1267696.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                    class="d-block w-100 gallery-img" alt="">
            </div>
            <div class="col-md-4">
                <img src="https://images.pexels.com/photos/2788792/pexels-photo-2788792.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                    class="d-block w-100 gallery-img" alt="">
            </div>
            <div class="col-md-4">
                <img src="https://images.pexels.com/photos/1058277/pexels-photo-1058277.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                    class="d-block w-100 gallery-img" alt="">
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-4">
                <img src="https://images.pexels.com/photos/761854/pexels-photo-761854.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                    class="d-block w-100 gallery-img" alt="">
            </div>
            <div class="col-md-4">
                <img src="https://images.pexels.com/photos/1537635/pexels-photo-1537635.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                    class="d-block w-100 gallery-img" alt="">
            </div>
            <div class="col-md-4">
                <img src="https://images.pexels.com/photos/159291/beer-machine-alcohol-brewery-159291.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                    class="d-block w-100 gallery-img" alt="">
            </div>
        </div>
</section>
<!-- Gallery Section Ends -->

<!-- Contact Section -->
<section class="contact" id="contact">
    <div class="container">
        <div>
            <h2 class="contact-sub-headline">Contact <span class="line">--------</span></h2>
            <h1 class="contact-headline">Get In Touch</h1>
            <br>
        </div>
    </div>
    <div class="contact-container">
        <div class="row">
            <div class="col-md-12">
                <iframe class="map"
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13299.721541186196!2d-82.1039339302246!3d33.555184999999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1596232274169!5m2!1sen!2sus"
                    frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-4 border-right">
                <i class="fas fa-map-marker-alt contact-icon"></i>
                <br>
                <p class="lead contact-text">219 Tech Avenue NE</p>
                <p class="lead contact-text" id="city">Atlanta, GA</p>
            </div>
            <div class="col-md-4 border-right">
                <i class="fas fa-phone-alt contact-icon"></i>
                <br>
                <p class="lead contact-text">770.945.1234</p>
            </div>
            <div class="col-md-4">
                <i class="fas fa-envelope contact-icon"></i>
                <br>
                <p class="lead contact-text">contact@lockhart.com</p>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- Contact Section Ends -->

<!-- Loading Screen Wraper -->
<div class="spinner-wrapper">
    <div div class="spinner"></div>
</div>